In [1]:
print("Hello")

Hello

In [2]:
print(5)

5

In [3]:
print(3.2)

3.2

In [4]:
print("Pune","Hydrabad","Nashik")

Pune Hydrabad Nashik

In [5]:
print("Pune","Hydrabad","Nashik", sep=' | ')

Pune | Hydrabad | Nashik

In [6]:
print("(Pune","Hydrabad","Nashik)", sep=' | ',end=' ++ ')
print("I'm Omkar")

(Pune | Hydrabad | Nashik) ++ I'm Omkar

**** Data Types ****

In [7]:
# int , float, complex, String
# List, Tuple, Sets, Dictionary
# user defined classes

int(50)

50

In [8]:
print(1e309) # Max Range

inf

In [9]:
print("Hydrabad")
print('Hydrabad')
print("""Hydrabad""")

Hydrabad
Hydrabad
Hydrabad

In [10]:
# List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [11]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [12]:
# sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [13]:
# Dict
print({"name":"omkar","Age":30,"profession":"Engineer"})

{'name': 'omkar', 'Age': 30, 'profession': 'Engineer'}

***** Comments for code readbality *******

In [14]:
# comment

****** variables  *****

In [15]:
name = 'omkar'

In [16]:
print(name)

omkar

In [17]:
a , b, c = 4 , 5 ,6

In [18]:
print (a,b,c)

4 5 6

## ** keywords **

In [19]:
import keyword
print(keyword.kwlist, end=" -- ")
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'] -- 35

## Identifiers

### Keywords can not be used as identifier

## ** Taking input from user **

# input(prompt="Apna nam bta")

In [21]:
first_num = input(prompt="enter first number :")

enter first number :1

In [22]:
second_num = input(prompt="enter second number :")

enter second number :1

In [23]:
print(first_num+second_num)

11

In [24]:
type(first_num)

str

In [25]:
#implicit
#explicit

In [26]:
4+9.5

13.5

In [27]:
5+6.4+7j

(11.4+7j)

In [28]:
int(4.55)

4

In [29]:
int("45")

45

In [30]:
float(4)

4.0

In [31]:
str("3")

'3'

In [32]:
bool("True")

True

In [33]:
complex(4)

(4+0j)

In [34]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [35]:
float(4)

4.0

In [37]:
first_num = input(prompt="enter first number :")
second_num = input(prompt="enter second number :")
result = int(first_num)+int(second_num)
result

enter first number :2
enter second number :2

4


# while loop

In [38]:
number = int(input("Enter number :"))
i = 1

while i<11:
    print(number, "*",i,"=", number*i)
    i+=1

Enter number :3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

# For loop

In [39]:
list(range(1,5))

[1, 2, 3, 4]

In [40]:
list(range(3))

[0, 1, 2]

In [41]:
list(range(1,5,2))

[1, 3]

In [42]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [43]:
for i in range(1,5):
    print(i)

1
2
3
4

In [44]:
for i in "Kolkata":
    print(i)

K
o
l
k
a
t
a

In [45]:
for i in [1,2,3]:
    print(i)

1
2
3

## Nested Loops

In [46]:
rows = int(input("Enter number :"))

Enter number :23

In [47]:
for i in range(1,rows+1):
    for j in range(0,i):
        print("*",end =" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * *

## break ,continue, past

In [48]:
# break
for i in range(1,11):
    if i == 6:
        break
    print(i, end=" ")

1 2 3 4 5

In [49]:
# continue
for i in range(1,11):
    if i == 6:
        continue
    print(i, end=" ")

1 2 3 4 5 7 8 9 10

In [50]:
# pass
for i in range(1,10):
    pass

## Build in Functions

## Modules

In [51]:
import math

## Strings

In [53]:
c = "Hello"

In [61]:
print(c[0])

H

In [60]:
print(c[-1])

o

In [65]:
c= "Hello Wordls"

In [66]:
print(c[0:5])

Hello

In [67]:
print(c[:])

Hello Wordls

In [70]:
print(c[3:4])

l

In [71]:
print(c[:-2])

Hello Word

In [72]:
print(c[::-1])

sldroW olleH

In [73]:
print(c[-2:-5:-1])

ldr

### Strings are Immutable data Type - can not change once created

In [75]:
# Arithmatic
c= "Helo"+ "-world"
print(c)

Helo-world

In [77]:
print("5"*10)

5555555555

In [79]:
#relational
"A"<"C"

True

In [82]:
not "ee"

False

In [83]:
"a"=="b"

False

In [84]:
'H' in c

True

In [89]:
"omkar".find("x")

-1

In [90]:
"omkar".index("x")

ValueError: substring not found

In [93]:
nama = ' omkar  '

In [97]:
nama.

['omkar']

In [2]:
"Hello how are you".title()

'Hello How Are You'

In [5]:
L = "Hello how are you".split(" ")

In [6]:
L

['Hello', 'how', 'are', 'you']

In [15]:
K=[]
for i in L:
    print(i.capitalize())
    K.append(i)

K

Hello
How
Are
You

['Hello', 'how', 'are', 'you']

In [16]:
print(" ".join(K))

Hello how are you

In [21]:
a = "omkar@gmail.com"

a[:a.find('@')]

'omkar'

In [45]:
L = [1,1,1,2,3,2,3,4,1,9,9]

In [46]:
1 in L

True

In [48]:
k = []

for i in L:
    if i not in k:
        k.append(i)
        

k

[1, 2, 3, 4, 9]

## Python Assignments

In [11]:
## Write a code to find the minimum among three given numbers.

a,b,c = 5,5,10

In [15]:
# approach 1
if a<=b and a<=c:
    print(f"a is smallest {a}")
elif b<=a and b<=c:
    print(f"b is smallest {b}")
else :
    print(f"c is smallest {c}")

a is smallest 5

In [16]:
# approach 2
min(a,b,c)

5

In [36]:
## Write a code to check whether a given number is a palindrome.

In [37]:
num = 101
original = num
rev = 0

while num > 0:
    digit = num % 10       # get digit
    rev = (rev * 10) + digit   # add digit to rev
    num = num//10  # divide number 
    
print(f"original number :{original} reverse number :{rev}")

if original == rev :
    print("palindrome number")
else :
    print("not palindrome number")

original number :101 reverse number :101
palindrome number

** Write a code to find the sum of numbers divisible by 4.The code must allow the user to accept a number and add it to the sum if it is divisible by 4. It should continue accepting numbers as long as the user wants to provide an input and should display the final sum.**

In [46]:
total_sum = 0

while True:
    try :
        num = int(input("Enter a number: "))
        print(f"entered num {num}")

        if num%4 ==0:
            total_sum = total_sum +num
            print(f"adding number to sum :{total_sum}")
        else :
            print("number not divisible by 4")

        dicision = int(input("Enter 0 to continue 1 to exit: "))
        if dicision == 0:
            continue
        else :
            break
    except Exception:
        print("invalid number")
          
print(f"total sum is {total_sum}")

Enter a number: i
invalid number
Enter a number: o
invalid number
Enter a number: 9
entered num 9
number not divisible by 4

KeyboardInterrupt: Interrupted by user

In [56]:
### is armstrong number ?

num = 153
orogin=num
sum1 =0 

while num>0:
    digit = num%10;
    cube = digit**3
    sum1 += cube
    num=num//10
    
if sum1 == orogin:
    print("Armstrong number")
else :
    print("not Armstrong number")

Armstrong number

In [47]:
2**3

8

In [72]:
def caulculate_fee(course_fee, scholorship):
    scholorship = course_fee * (scholorship/100)
    final_fee = course_fee - scholorship
    return final_fee


course_fee = int(input("Enter course fee :"))
score = int(input("Enter score :"))
branch = input("Enter branch Arts/Engineering:")

if branch != 'Arts' and branch !='Engineering':
    print("not valid branch")
else :
    if branch == 'Arts':
        if score >= 90:
            print(f"total couse_fee :{caulculate_fee(course_fee, 50)}")
        elif score%2 != 0:
            print(f"total couse_fee :{caulculate_fee(course_fee, 5)}")
        else :
            print(f"total couse_fee :{course_fee}")
    elif branch == 'Engineering':
        if score >= 85:
            print(f"total couse_fee :{caulculate_fee(course_fee, 50)}")
        elif score%7 == 0:
            print(f"total couse_fee :{caulculate_fee(course_fee, 7)}")
        else :
            print(f"total couse_fee :{course_fee}")

Enter course fee :5000
Enter score :70
Enter branch Arts/Engineering:Engineering
total couse_fee :4650.0

In [74]:
print('hi')

hi

In [78]:
rate = 37550
child = 0.33*375550

child

123931.5

In [82]:
def calculate_tax_and_final_amount(amt, season):
    amt = amt *7/100 + amt
    if season == "Holiday":
        amt = (amt * 0.07)+amt
    else :
        amt = amt
    return amt

In [87]:
try :
    is_child = bool(input('is chiled Enter True/False?'))
    is_holiday_season = input('enter season :')
except Exception:
    print("Invalid input")

is chiled Enter True/False?False
enter season :a

In [92]:
if is_child:
    print(round(calculate_tax_and_final_amount(child,is_holiday_season),2) )
else:
    print(round(calculate_tax_and_final_amount(rate,is_holiday_season)),3 )

132606.7

In [95]:
num = int(input("Enter integer number :"))

if num%5 ==0 and num%3==0:
    print("zoom")
elif num%5 ==0 :
    print("zap")
elif num%3 ==0 :
    print("zip")
else :
    print("Invalid")

Enter integer number :8
Invalid

In [128]:
num1, num2, num3 = int(input('Enter num1:')),int(input('Enter num2:')),int(input('Enter num3:'))
L = [num1,num2,num3]

val = True

for i in L:
    if i ==7:
        val = False
    

result = (num1*num2*num3) if val else\
            (num2*num3) if L[0] == 7 else\
                (num3) if L[1] == 7 else\
                    -1
                
result

Enter num1:7
Enter num2:4
Enter num3:3

12

In [131]:
from math import prod

try:
    idx = L.index(7)
    result = prod(L[idx+1:]) if idx < 2 else -1
except:
    result = prod[l]
    
result

12